body {
    font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 200;
}
h1 {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: 200;
    font-size: 26px;
}
h2 {
    font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-weight: bold;
    font-size: 22px;
}
h3 {
    font-family: BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size:18px;
    text-decoration:underline;
    font-weight: 200;
}
pre,code,.rst-content tt,.rst-content code,kbd,samp{
    font-family:monospace,serif;
    _font-family:"courier new",monospace;
    font-size:1em;
    font-weight:200;
    line-height:1.5;
}
code,.rst-content tt,.rst-content code{
    white-space:nowrap;
    max-width:100%;
    background:#fff;
    border:solid 1px #e1e4e5;
    font-size:75%;
    padding:0 5px;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    color:#E74C3C;
    overflow-x:auto;
    font-weight:200;
    line-height:1.5;
}
tt{
    padding:0px;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    font-size:1em;
    background:none;
    border:none;
    color:gray;
    font-weight:200;
    line-height: 1.5;
}
.rst-content pre.literal-block{
    white-space:pre;
    margin:0;
    padding:12px 12px;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    display:block;overflow:auto;
    font-weight:200;
    line-height: 1.5;
}
.rst-content pre.literal-block,.rst-content div[class^='highlight']{
    border:1px solid #e1e4e5;
    overflow-x:auto;
    margin:1px 0 24px 0
}
.rst-content pre.literal-block div[class^='highlight'],.rst-content div[class^='highlight'] div[class^='highlight']{
    padding:0px;
    border:none;
    margin:0
}
.rst-content div[class^='highlight'] td.code{
    width:100%
}
.rst-content .linenodiv pre{
    border-right:solid 1px #e6e9ea;
    margin:0;
    padding:12px 12px;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    user-select:none;
    pointer-events:none;
    font-weight:200;
    line-height: 1.5;
}
.rst-content div[class^='highlight'] pre{
    white-space:pre;
    margin:0;
    padding:12px 12px;
    display:block;
    overflow:auto
}
.rst-content div[class^='highlight'] pre .hll{
    display:block;
    margin:0 -12px;
    padding:0 12px
}
.rst-content pre.literal-block,.rst-content div[class^='highlight'] pre,.rst-content .linenodiv pre{
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    font-size:12px;
    line-height:1.4;
    font-weight:200;
}
.rst-content tt,.rst-content tt,.rst-content code{
    color:#000;
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,
    "Liberation Mono","Courier New",Courier,monospace;
    padding:2px 5px;
    font-weight:200;
    line-height:1.5;
}
.rst-content pre,.rst-content kbd,.rst-content samp{
    font-family:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",Courier,monospace;
    font-weight: 200;
    line-height:1.5;
}
.wy-side-nav-search {
background: #222c32;
}
.wy-nav-side {
background: #222c32;
}
.rst-versions .rst-current-version {
background: #222c32;
}
.rst-versions{
border-top: solid 10px #222c32;
}
